:is(.theme-menu__button,
    .card__icon-button,
    .card__like-button,
    .save-button):focus {
  outline: none;
}

/* заливка кнопки цветом при hover */

:is(.card__like-button, .save-button)::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left bottom;
  inline-size: 100%;
  block-size: 100%;
}

:is(.card__like-button, .save-button):hover::before {
  transform: scaleX(1);
}

/* тень у кнопки при focus-visible */

:is(.card__like-button, .save-button)::after {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: 2px 2px 0 currentColor;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translate(-4px, -4px);

  /* размеры с учетам рамки (2px ширина border)*/

  inline-size: calc(2px * 2 + 100%);
  block-size: calc(2px * 2 + 100%);
}

:is(.card__like-button, .save-button):focus-visible::after {
  opacity: 1;
  transform: translate(-2px, -2px);
}

.page {
  display: grid;
  grid-template-columns: minmax(375px, 700px);
  justify-content: center;
  color: var(--accent-color, #000);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: var(--bg-image);
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--text-wgth, 400);
}

/* шапка */

.header {
  display: grid;
  grid-template-rows: 1fr min-content max-content 1fr;
  row-gap: 1%;
  margin-block: 100px;
  border: 2px solid var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  block-size: 368px;
}

.header__logo {
  grid-row: 2 / 3;
  justify-self: center;
  padding-block-start: 2%;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  text-align: center;
  text-decoration: none;
}

.header__title {
  grid-row: 3 / 4;
  justify-self: center;
  padding-block-start: 1%;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

/* меню выбора темы */

.header__theme-menu {
  grid-row: span 1 / -1;
  justify-self: center;
  padding-block-start: 2.5%;
  font-size: 14px;
}

.theme-menu__list {
  margin-inline-start: 20px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 10px;
}

.theme-menu__button {
  position: relative;
  border: none;
  border-block-end: 1px solid transparent;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  margin-inline-start: -20px;
  animation: theme-menu-active 0.5s alternate infinite ease-in-out;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left bottom;
  inset-block-end: -2px;
  inset-inline-start: 0;
  block-size: 2px;
  inline-size: 100%;
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover:not(.theme-menu__button:disabled) {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* основной контент */

.card__item {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
}

.card__item:not(:last-child) {
  margin-block-end: 50px;
}

/* заголовок */

.title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--header-text-wgth, 700);
}

.card__item__title {

  padding-inline: 10px;
  padding-block: 4.6px;
}

/* изоброжение */

.card__item-image {
  position: relative;
}

.card__item-image__img {
  border-block: 2px solid var(--accent-color, #000);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__item-image__decor {
  position: absolute;
  opacity: 0.5;
  color: var(--decor-text-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: 1px  0px 1px var(--bg-color, #fff),
               0px  1px 1px var(--bg-color, #fff),
              -1px  0px 1px var(--bg-color, #fff),
               0px -1px 1px var(--bg-color, #fff);
  mix-blend-mode: hard-light;
  inset-inline-end: 25px;
  inset-block-start: 25px;
}

/* текст */

.card__item-text {
  margin: 25px;
  margin-block-start: 20px;
  line-height: 1.16;
}

.card__item-text p:not(:last-child) {
  margin-block-end: 27px;
}

/* иконка LIKE */

.card__item-like {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin-inline: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  position: relative;
  display: flex;
  border: 2px solid transparent;
  background-color: transparent;
  inline-size: 41px;
  block-size: 39px;
}

.card__icon-button::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid currentColor;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: scale(1.1);
  inline-size: 100%;
  block-size: 100%;
}

.card__icon-button:focus-visible::after {
  opacity: 1;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .like-icon .core {
  fill: currentColor;
  transition: fill 0.3s;
}

.card__icon-button:active .like-icon .core {
  fill: var(--like-icon-active-color);
  transition: fill 0.3s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .like-icon .main-body {
  fill: currentColor;
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .like-icon .main-body:not(.is-liked) {
  fill: var(--like-icon-active-color);
  transition: fill 0.3s 0.05s;
}

.is-liked .heart * {
  fill: var(--like-icon-active-color);
}

.card__icon-button .is-liked {
  animation: icon-licke-active 0.3s 0.1s 2 ease-in alternate;
}

.card__icon-button .is-liked .sparks {
  animation: icon-licke-sparks-active 0.3s 0.3s 2 ease-in alternate;
}

.sparks {
  opacity: 0;
}

/* кнопка LIKE */

.card__like-button {
  position: relative;
  border: 2px solid currentColor;
  background-color: transparent;
  inline-size: 130px;
  block-size: 39px;
}

.button__text {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color, #fff);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  mix-blend-mode: difference;

  /* размеры с учетам рамки (2px ширина border)*/

  inset-inline-start: -2px;
  inset-block-start: -2px;
  inline-size: calc(2px * 2 + 100%);
  block-size: calc(2px * 2 + 100%);
}

/* кнопка сохранить на память  */

.article__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 50px 105px;
}

.article__save-button__text {
  display: flex;
  gap: 8px;
}

.save-button {
  position: relative;
  border: 2px solid currentColor;
  background-color: var(--bg-color, #fff);
  inline-size: 340px;
  block-size: 55px;
}

.save-button__img {
  object-fit: cover;
  object-position: center;
  block-size: 21px;
  aspect-ratio: 1 / 1;
}

@supports((text-stroke: 1px var(--bg-color, #fff)) or (-webkit-text-stroke: 1px var(--bg-color, #fff))) {
  .card__item-image__decor {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--bg-color, #fff);
      text-stroke: 1px var(--bg-color, #fff);
  }
}

@media (width <= 375px) {

  /* шапка */

  .header {
    row-gap: 2%;
    block-size: 327px;
  }

  .header__logo {
    padding-block-start: 0;
  }

  .header__title {
    padding-block-start: 2%;
  }

  /* меню выбора темы */

  .header__theme-menu {
    padding-block-start: 4%;
  }

  /* основной контент */

  .card__item-text {
    line-height: 1.17;
  }

  .card__item-image__decor {
    inset-inline-end: 10px;
  }

  /* кнопка LIKE */

  .card__item-like {
    margin-block-end: 24.5px;
  }

  .card__like-button {
    block-size: 38px;
  }

  .save-button {
    inline-size: 310px;
    block-size: 84px;
  }

  /* кнопка сохранить на память  */

  .article__save-button__text {
    flex-direction: column;
    line-height: 0.9;
  }

  .save-button__img {
    block-size: 28px;
  }
}
